

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;800&display=swap);

body {
  font-family: 'Manrope', sans-serif;
  width: 100%;
}

li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: white;
}
a:hover{
opacity: 50%;
}

/* kerak */
/* *
  user-select: none
  box-sizing: border-box

html,
body
  height: 100%
  
body
  display: flex
  align-items: center
  justify-content: center
  background-color: #EDF1F6
  appearance: none !important
  backface-visibility: hidden
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-overflow-scrolling: touch
  text-rendering: optimizelegibility
  
.ctrl
  flex: 0 0 auto
  display: flex
  align-items: center
  border-bottom: 1px solid #D5DCE6
  background-color: #fff
  border-radius: 5px
  font-size: 30px
  
  &__counter
    position: relative
    width: 200px
    height: 100px
    color: #333C48
    text-align: center
    overflow: hidden
    
    &.is-input
      .ctrl__counter-num
        visability: hidden
        opacity: 0
        transition: opacity 100ms ease-in
    
      .ctrl__counter-input
        visability: visible
        opacity: 1
        transition: opacity 100ms ease-in
    
    &-input
      width: 100%
      margin: 0
      padding: 0
      position: relative
      z-index: 2
      box-shadow: none
      outline: none
      border: none
      color: #333C48
      font-size: 30px
      line-height: 100px
      text-align: center
      visability: hidden
      opacity: 0
      transition: opacity 100ms ease-in
    
    &-num
      position: absolute
      z-index: 1
      top: 0
      left: 0
      right: 0
      bottom: 0
      line-height: 100px
      visability: visible
      opacity: 1
      transition: opacity 100ms ease-in
      
      &.is-increment-hide
        opacity: 0
        transform: translateY(-50px)
        animation: increment-prev 100ms ease-in
        
      &.is-increment-visible
        opacity: 1
        transform: translateY(0)
        animation: increment-next 100ms ease-out
        
      &.is-decrement-hide
        opacity: 0
        transform: translateY(50px)
        animation: decrement-prev 100ms ease-in
        
      &.is-decrement-visible
        opacity: 1
        transform: translateY(0)
        animation: decrement-next 100ms ease-out
  
  &__button
    width: 100px
    line-height: 100px
    text-align: center
    color: #fff
    cursor: pointer
    background-color: #8498a7
    transition: background-color 100ms ease-in
      
    &:hover
      background-color: mix(#8498a7, #fff, 90%)
      transition: background-color 100ms ease-in

    &:active
      background-color: mix(#8498a7, #000, 90%)
      transition: background-color 100ms ease-in
    
    &--decrement
      border-radius: 5px 0 0 5px
    
    &--increment
      border-radius: 0 5px 5px 0
    
// keyframes

@keyframes decrement-prev
  from
    opacity: 1
    transform: translateY(0)
    
@keyframes decrement-next
  from
    opacity: 0
    transform: translateY(-50px)
      
@keyframes increment-prev
  from
    opacity: 1
    transform: translateY(0)
    
@keyframes increment-next
  from
    opacity: 0
    transform: translateY(50px)

    kerak tugadi */
 .head-dad{
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
}
.card1{
    width: 1110px;
    margin: 0px auto;
}
.top-title {
    width: 100%;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px 36px;
 }
 .a-menu {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 34px;
 }

 /* back  */
 .back-div a p{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #000000;
    opacity: 50%;
    margin-top: 79px;
 }

 .back-div {
    width: 1110px;
    margin: 0px auto;
    margin-bottom: 56px;
 }

 .container{
    width: 100%;
    border: 1px solid grey;
 }

 /* casr 2 */
 .card-mark {
    width: 100%;
    /* border: 1px solid red; */
    padding-top: 128px;
}

.text-aboute{
   font-size: 40px;
   font-weight: 700;
   line-height: 44px;
   letter-spacing: 1.4285714626312256px;
   text-align: center;
   color: white;
   margin-top: 98px;
}

.card-mark {
   width: 100%;
   /* border: 1px solid red; */
   padding-top: 128px;
}
.text-mark {
   font-size: 14px;
   font-weight: 400;
   line-height: 19.12px;
   letter-spacing: 10px;
   text-align: left;
   opacity: 50%;
   color: #D87D4A;

}
.p-mark {
   width: 396px;
   font-size: 56px;
   font-weight: 700;
   line-height: 58px;
   letter-spacing: 2px;
   text-align: left;
   color: black;
   margin: 24px 0px;
}
.title-p-mark {
   width: 349px;
   font-size: 15px;
   font-weight: 500;
   line-height: 25px;
   text-align: left;
   color: black;
   opacity: 75%;
   margin-bottom: 40px;
}
.button {
   padding: 15px 30px;
   background-color: #D87D4A;
   border: none;
   margin-bottom: 108px;
}

.card2{
   width: 1110px;
   height: 560px;
   top: 496px;
   left: 165px;
   gap: 0px;
   opacity: 0px;
   margin: 0px auto;  
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.img-quloqchn-card2 img {
   width: 349.24px;
   height: 386px;
   top: 561.5px;
   left: 259.88px;
   gap: 0px;
   opacity: 0px;
   
}
.img-quloqchn-card2{
   width: 540px;
   height: 560px;
   top: 496px;
   left: 165px;
   gap: 0px;
   opacity: 0px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 360px;
}

/* card 3 */
.card3 {
}
.future-menu {
}
.future-text {
}
.future-title {
}
.boxses-menu {
}
.the-box-text {
}
.the-box-menu {
}